footer{
    position: relative;
    z-index: 1000;
}
.wrapper-footer {
    width: 100%;
}
a{
    color: white;
    text-decoration: none;
}

.container-footer-top {
    background-color: #2d3338;
    height: calc(4vh + 3rem);
    width: 100%;
}

.container-footer-middle {
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    background-color: #1a1d20;
    max-height: 400px;
    width: 100%;
}
.footer-middle-column1, .footer-middle-column2{
    margin: 2rem 0px;
    width: 22%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: column;
    p{
        color: white;
    }
}
.footer-middle-column1 h1, .footer-middle-column2 h1{
    color: white;
    font-size: 1.8rem;
}
.footer-contact-icons{
    display: flex;
    align-items: center;
}
.border-text-footer{
    margin: 0.5rem 0px;
    width: 4rem;
    border-bottom: 2px solid var(--main-color);
}
.footer-middle-column1 img{
    width: 100px;
}
.footer-middle-column2 img{
    width: 3rem;
    color: white;
    font-size: 0.7rem;
}

.container-footer-bottom {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--main-dark-color);
    max-height: 80px;
    height: calc(4vh + 1rem);
    width: 100%;
    p{
        color: white;
    }
}

.nav-footer {
    margin: auto;
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}
.nav-footer img{
    width: 3rem;
    height: 3rem;
}

.ul-nav-footer {
    display: flex;
    margin: 0px;
    padding: 0px;
}

.ul-nav-footer li {
    margin: 0px 3rem;
}